<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="icon" href="img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.css">

</head>
<body>
<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login_form_inner register_form_inner">
                    <h3>Add a product</h3>
                    <form class="row login_form" action="/addProduct" method="post" id="register_form">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="productName" name="productName"
                                   placeholder="Product name" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Product name'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="price" name="price" placeholder="Price"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Price'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="category" name="category" placeholder="Category"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Category'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="quntity" name="quantity" placeholder="Quantity"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Quantity'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="description" name="description"
                                   placeholder="Description" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Description'">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="button button-register w-100">Add product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
</body>
</html>