<!DOCTYPE html>

<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>

    <link rel="icon" href="img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.css">

</head>
<body>
<p th:value="${nume1}"></p>

<!--================ Start Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!--                <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="C:\Users\mflor\Desktop\Final Project\onlineShopProject\src\main\resources\templates\home.html">Home</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>
                                <li class="nav-item"><a class="nav-link" href="single-product.html">Product Details</a></li>
                                <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
                                <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
                                <li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</header>
<!--================ End Header Menu Area =================-->

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login_form_inner register_form_inner">
                    <h3>Register user</h3>

                    <form th:object="${userDto}" class="row login_form" action="/addUser" method="post"
                          id="register_form" enctype="multipart/form-data">

                        <div class="col-md-12 form-group">
                            <input th:field="*{username}" type="text" class="form-control" id="username" name="username"
                                   placeholder="Username"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                        </div>

                        <div class="col-md-12 form-group">
                            <input th:field="*{email}" type="text" class="form-control" id="email"
                                   name="email"
                                   placeholder="E-mail" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'E-mail'">
                        </div>

                        <div class="col-md-12 form-group">
                            <input th:field="*{password}" type="text" class="form-control" id="password" name="password"
                                   placeholder="Password"
                                   onfocus="this.placeholder = 'Password'" onblur="this.placeholder = 'Password'">
                        </div>

                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="button button-register w-100">Add User
                            </button>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</section>
<!--================End Login Box Area =================-->
</body>

</html>

</body>
</html>